
__pycache__/console_utils\.cpython-37\.pyc

\.vscode/launch\.json

\.vscode/settings\.json

download_l8_params\.json

download_s2_params\.json

DownloaderS2-L8-bc99c45ffb4c\.json

l8\.csv

moscow_multipolygon\.geojson

moscow_multipolygon\.zip

pestr_border\.geojson

pestr_point\.geojson

pestr_point\.zip

s2_meta\.csv

s2_query_params\.json

s2\.csv
